################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DockerizeMeSoln/.vs/DockerizeMeSoln
/DockerizeMeSoln/DockerizeMe/obj
/DockerizeMeSoln/DockerizeMe/bin/Debug/net8.0
